.container{

  width:fit-content;
  height:fit-content;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  /* background:beige; */
  display:flex;
  transition:width 0.8s;
  padding:32px 32px;
  flex-direction: column;
}



